# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
instance/
*.db

# Data files
pokemon_db.csv
user_likes.json
pokemon_completed.csv

# Environment variables
.env
.flaskenv

# Virtual environment
venv/
.venv/

# IDE and editor files
.vscode/
.idea/

# Logs
*.log
